// Fonts
$font_stack:                   "Open Sans", sans-serif;
// Fluid font sizing: calc( [minSize] + ( [maxSize] - [minSize] ) * ( ( 100vw - [minViewportWidth] ) / ( [maxViewportWidth - minViewportWidth] ) ) );
$font_size_headline:           calc(40px + 25 * ((100vw - 375px) / 1920)); // 40px -> 65px
$font_size_subheadline:        calc(20px + 5 * ((100vw - 375px) / 1920)); // 20px -> 25px
$font_size_title:              calc(35px + 35 * ((100vw - 375px) / 1920)); // 35px -> 70px;
$font_size_paragraph:          calc(16px + 9 * ((100vw - 375px) / 1920)); // 16px -> 25px
$font_size_paragraph_feature:  calc(22px + 8 * ((100vw - 375px) / 1920)); // 22px -> 30px
$line_height:                  1.2em;
$icon_font_family:             "FontAwesome"; // FontAwesome 5 Free
                                       // Comments are FontAwesome 4.7
$icon_angle_up:                "\f106";//"\f077";
$icon_angle_down:              "\f107";//"\f078";
$icon_angle_left:              "\f104";//"\f053";
$icon_angle_right:             "\f105";//"\f054";
$icon_check:                   "\f00c";
$icon_envelope:                "\f0e0";//"\f003";
$icon_plus:                    "\f067";
$icon_times:                   "\f00d";
$icon_search:                  "\f002";
$icon_calendar:                "\f133";//"\f073";
$icon_comments:                "\f086";
$icon_link:                    "\f0c1";
$icon_play:                    "\f04b";

// Social Icons
$icon_facebook:                "\f39e";//"\f09a";
$icon_twitter:                 "\f099";
$icon_instagram:               "\f16d";
$icon_linkedin:                "\f0e1";
$icon_google_plus:             "\f0d5";
$icon_pinterest:               "\f231";
$icon_vimeo:                   "\f27d";
$icon_youtube:                 "\f167";

// Icons for particular use-cases
$icon_external_link:           $icon_link;
$icon_list_bullet:             $icon_angle_right;

// Brand Colors
$brand_primary:                #08bbf7;
$brand_secondary:              #f8b616;
$brand_gray_dark:              #414141;
$brand_gray_light:             #e5e5e5;
$brand_primary_opacity:        rgba($brand_primary, 0.8);
$brand_secondary_opacity:      rgba($brand_secondary, 0.8);
$brand_gray_dark_opacity:      rgba($brand_gray_dark, 0.8);
$brand_gray_light_opacity:     rgba($brand_gray_light, 0.8);

// Menu
$hamburger_color:              #FFF;

// Margins
$general_margin:               30px;
$vertical_margin:              75px;
$vertical_margin_top:          75px;
$vertical_margin_bottom:       75px;
$horizontal_margin:            50px;
$horizontal_margin_mobile:     20px;

// Borders
$border:                       1px solid #eaeaea;

// Buttons
$button_normal_color:          #fff;
$button_normal_bg:             $brand_primary;
$button_normal_hover_color:    $brand_primary;
$button_normal_hover_bg:       transparent;

$button_highlight_color:       $brand_gray_dark;
$button_highlight_bg:          #fff;
$button_highlight_hover_color: #fff;
$button_highlight_hover_bg:    transparent;

// Forms
$form_border_color:            #eaeaea;

//Element Styles
$feature_area_bg:              rgba(darken($brand_primary, 30%), 0.95);
$main_bg:                      rgba(white, 0.95);
$secondary_bg:                 rgba($brand_primary, 0.95);
$ternary_bg:                   $main_bg;
$pre_footer_bg:                rgba($brand_gray_dark, 0.95);
$dark_gray_bg:                 rgba($brand_gray_dark, 0.5);
$main_link_color:              lighten($brand_gray_dark, 25%);
$main_link_hover:              $brand_primary;
$main_title_link_color:        lighten($brand_gray_dark, 25%);
$main_title_link_hover:        $brand_primary;
$head_link_color:              darken(#ffffff, 20%);
$head_link_hover:              $brand_primary;
$head_title_link_color:        $head_link_color;
$head_title_link_hover:        $head_link_hover;
$cta_link_color:               #fff;
$cta_link_hover:               #fff;
$cta_title_link_color:         $cta_link_color;
$cta_title_link_hover:         $cta_link_hover;

// Social Media Brand Colors
$twitter:                      #1da1f2;
$facebook:                     #3b5998;
$googleplus:                   #d34836;
$pinterest:                    #bd081c;
$linkedin:                     #0077b5;
$youtube:                      #cd201f;
$vimeo:                        #aad450;
$tumblr:                       #32506d;
$instagram:                    #c13584;
$flickr:                       #ff0084;
$dribbble:                     #ea4c89;
$quora:                        #a82400;
$foursquare:                   #0072b1;
$forrst:                       #5B9A68;
$vk:                           #45668e;
$wordpress:                    #21759b;
$stumbleupon:                  #EB4823;
$yahoo:                        #7B0099;
$blogger:                      #fb8f3d;
$soundcloud:                   #ff3a00;
$rss:                          #f26522;
$mail:                         $brand_secondary;
