//=============== All blog pages ================
.wsite-page-blog {
  #main {
    overflow-x: hidden;
    .container {
      max-width: 900px;
    }
  }
  .blog-title {
    font-size: 3rem;
    font-family: $font_stack;
    line-height: 1.2 !important;
    font-weight: 300;
    a.blog-title-link {
      line-height: inherit !important;
      color: $brand_gray_dark;
      @include device(smartphone, tablet) {font-size: 2.5rem !important;}
      &:hover {
        color: $brand_primary;
      }
    }
  }
  .blog-social {
    display: flex;
    justify-content: flex-end;
    .blog-social-item {
      margin-right: 0;
      margin-left: 12px;
    }
  }
  .blog-details {
    display: flex;
    justify-content: space-between;
    .container {
      padding: 0;
    }
    .read-time {
      opacity: 0;
      transition: opacity 0.3s ease-in;
      &.time-set {
        opacity: 1;
      }
    }
  }
  .blog-separator {
    border: none;
    padding-bottom: 20px;
  }
  .blog-main, .blog-comments {
    .container {
      max-width: 900px;
    }
  }
  #blogTable {
    .blog-main-column {
      width: 100%;
    }
  }
  .blog-post:not(:last-of-type) {
    .blog-post-separator {
      border-bottom: 1px solid $brand_gray_light;
      width: 100vw;
      left: 50%;
      bottom: 0px;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}
