//=============== Individual blog post ==========
//Individual blog post
.wsite-blog-post:not(.icontent) {
  // Overlay on post but not on post editor
  // .blog-header {
  //   &:before {
  //     background: rgba($brand_primary, 0.85);
  //     content: "";
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     z-index: 5;
  //   }
  // }
}
.wsite-blog-post {
  #main {
    padding-top: 0;
    & > .container {
      max-width: none;
    }
    .blog-post {
      margin: 20px 0;
      @include device(tablet, laptop, desktop) {margin: 50px 0;}
      .blog-separator {
        display: none;
      }
      .blog-header {
        position: relative;
        margin: auto !important;
        max-width: 900px;
        width: 100%;
        overflow: hidden;
        h2.blog-title {
          margin-bottom: 20px !important; // Necessary for Weebly
          line-height: 1.2 !important;
          & > a {
            color: $brand_gray_dark;
          }
        }
        .banner {
          padding: 125px 0 65px;
          .container {
            display: flex;
            justify-content: center;
          }
          &:before {
            display: none;
          }
        }
      }
    }
    .blog-post-separator {
      display: none;
    }
  }
  .blog-details {
    display: flex;
    justify-content: space-between;
    color: #fff;
    .read-time {
      opacity: 0;
      transition: opacity 0.3s ease-in;
      &.time-set {
        opacity: 1;
      }
    }
  }
  .date-text {
    cursor: default;
    float: none;
    font-size: $font_size_paragraph;
    padding: 0;
    margin: 0;
    &:before {
      font-family: $icon_font_family;
      content: $icon_calendar;
      padding-right: 5px;
    }
  }
  .blog-comments {
    padding: $vertical_margin_bottom 0 0;
    a {
      color: $brand_gray_dark;
      cursor: default;
      float: none;
      font-size: $font_size_paragraph;
      padding: 0;
      margin: 0;
      &:before {
        font-family: $icon_font_family;
        content: $icon_comments;
        padding-right: 5px;
      }
      &:hover {
        color: $brand_secondary;
      }
    }
  }
  .bg-img-wrap img {
    z-index: 5;
  }
  .blog-title {
    z-index: 5;
  }
  .blog-date, .blog-comments {
    z-index: 5;
  }
  .blog-content,
  .blog-social,
  #commentArea,
  #comments {
    max-width: 900px;
    margin: auto;
  }
  .blog-content div:first-of-type {
    padding-top: 30px;
    img { display: none; }
  }
  .blog-comments-bottom {
    display: none;
  }
  .blog-details {
    padding: 15px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .blog-date, .date-text, .time-in-mins,
    .blog-comments > a {
      color: #fff;
      font-family: $font_stack;
      font-size: 1.25rem;
      font-weight: 300;
      padding-bottom: 0;
    }
    i {
      font-size: 1.25rem;
      color: #fff;
      padding-right: 0.25rem;
    }
  }
  .blog-main {
    background: #f7f7f7;
    padding: $vertical_margin_top 0 0;
    position: relative;
    .container {
      .blog-content {
        //On live site, hide first div in content bc it always will be an img.
        & > div:first-child:not(.column-blog){
          display: none;
        }
        .paragraph {
          color: $brand_gray_dark !important;
        }
      }
    }
  }
  .blog-comments {
    padding: $vertical_margin_bottom 0 0;
    a {
      color: $brand_gray_dark;
      &:hover {
        color: $brand_primary;
      }
    }
  }
}
