//=============== Blog home page ================
.wsite-blog-index {
  .blog-content {
    position: relative;
  }

  .blog-read-more {
    text-align: right;
    width: 100%;
    margin-top: 30px;
    a {
      background: $button_normal_bg;
      border: 2px solid $button_normal_bg;
      color: $button_normal_color;
      display: inline-block;
      font-size: 18px;
      padding: 8px 32px;
      transition: all 0.4s ease;
      line-height: 42px;
      &:hover {
        background: $button_normal_hover_bg;
        color: $button_normal_hover_color;
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $vertical_margin;
    a {
      width: calc(50% - 10px);
      border-top: 1px solid #eaeaea;
      display: inline-block;
      font-size: 1.25rem;
      font-family: "Open Sans";
      font-weight: 300;
      color: #717171;
      transition: all 0.4s ease;

      &.blog-previous {
        padding: 2rem 2rem 2rem 0;
        float: left;
      }
      &.blog-next {
        text-align: right;
        padding: 2rem 0 2rem 2rem;
        float: right;
      }
      &:hover {
        border-color: $brand_primary;
        color: $brand_primary;
      }
    }
  }
}

//Blog home page
#content {
  .container {
    margin: auto;
  }
}
.wsite-blog-index {
  #header {
    @include device(smartphone) {.feature-area { display: none; }}
    .wsite-search-element {
      max-width: none;
      display: flex;
      align-items: center;
      input {
        background: 0 0;
        border: none;
        border-bottom: 3px solid #6E878F;
        font-size: 2rem;
        font-family: $font_stack;
        font-weight: 300;
        color: #fff;
        outline: 0;
      }
      span {
        background: #fff;
        width: auto;
        height: auto;
        position: static;
        margin: 0;
        font-size: 20px;
        padding: 6px 24px;
        border: 1px solid #fff;
        display: inline-block;
        margin-left: 2rem;
        transition: all 0.4s ease;
        &:after {
          transition: color 0.4s ease;
          font-family: $font_stack;
          font-weight: 300;
          content: "Search";
          line-height: 32px;
          height: 32px;
        }
        &:hover{
          background: transparent;
          &:after {
            color: #fff;
          }
        }
      }
    }
  }

  #main {
    & > .container {
      position: static;
    }
    .date-text {
      color: $brand_gray_dark;
      cursor: default;
      float: none;
      padding: 0;
      margin: 0;
      font-family: $font_stack;
      font-size: 1.25rem;
      font-weight: 300;
      padding-bottom: 0;
      &:before {
        content: "Posted on";
      }
    }
  }
  .read-time {
    display: none;
  }
  .blog-post {
    .blog-comments, .blog-comments-bottom {
      display: none;
    }
  }
  .blog-main {
    .container {
      margin: 0;
      padding: 0;
      .wsite-image {
        padding-bottom: 2rem !important;
      }
    }
  }
  .blog-post:not(:last-child) {
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }
  .blog-page-nav-previous, .blog-page-nav-next {
    margin-top: 5rem;
    a {
      width: calc(100%*2);
      border-top: 1px solid $brand_gray_dark;
      display: inline-block;
      font-size: 1.25rem;
      font-family: $font_stack;
      font-weight: 300;
      color: $brand_gray_dark;
      transition: all 0.4s ease;
      padding: 2rem 0;
      &.blog-previous {
        padding: 2rem 2rem 2rem 0;
        float: left;
      }
      &.blog-next {
        text-align: right;
        padding: 2rem 0 2rem 2rem;
        float: right;
      }
      &:hover {
        border-color: $brand_primary;
        color: $brand_primary;
      }
    }
  }
  #post-pre-footer {
    display: none;
  }
}
