#wsite-search-content {
  #wsite-search-header {
    h2 {
      color: $brand_gray_dark !important;
      width: 25%;
    }
    input {
    background: none;
    font-size: 2rem;
    font-family: $font_stack;
    font-weight: 300;
    color: $brand_primary;
    outline: 0;
    }
    #wsite-search-submit {
      border-left: none;
    }
  }
  #wsite-search-pagenav {
    display: flex;
    justify-content: space-between;
    a {
      border: 1px solid #e5e5e5;
      border-radius: 2px;
      color: $brand_gray_dark;
      padding: 6px 9px;
      text-shadow: none;
      background: transparent;
      transition: all 0.4s ease;
      &:hover {
        color: $brand_primary;
        border: 1px solid $brand_gray_dark;
      }
      &.disabled {
        color: #e5e5e5;
        &:hover {
          color: #e5e5e5;
          border: 1px solid #e5e5e5;
        }
      }
    }
  }
  #wsite-search-pagenav a {
      border: 1px solid $brand_gray_dark;
      border-radius: 2px;
      color: $brand_gray_dark;
      padding: 6px 9px;
      text-shadow: none;
      background: transparent;
  }
  #wsite-search-pagenav a.disabled {
    color: $brand_gray_dark;
    &:hover {
      color: $brand_gray_dark;
    }
  }
  #wsite-search-sidebar {
    h3 {
      color: $brand_gray_dark;
    }
  }
  a {
    color: $brand_gray_dark;
    text-decoration: none;
    transition: color 0.4s ease;
    &:hover {
      color: $brand_primary;
      text-decoration: none;
    }
  }
  #wsite-search-list {
    p {
      color: $brand_gray_dark;
    }
    h3 {
        border-bottom: 0;
        color: $brand_gray_dark;
        font-size: 3rem;
        font-family: $font_stack;
        font-weight: 300;
        line-height: 1.2em;
        overflow: hidden;
        padding: 0 5px 0 0;
        margin: 0;
        text-decoration: none;
        transition: color 0.4s ease;
        white-space: initial;
        padding-bottom: 1rem;
        &:hover {
          color: $brand_primary;
          text-decoration: none;
        }
    }
  }
}


// Old styles

// .landing-page {
//   #header {
//     min-height: 400px;
//   }
// }
//
// #wsite-search-content {
//   #wsite-search-header {
//     h2 {
//       color: $brand_gray_dark !important;
//     }
//     input {
//     background: none;
//     font-size: 2rem;
//     font-family: $font_stack;
//     font-weight: 300;
//     color: $brand_primary;
//     outline: 0;
//     }
//     #wsite-search-submit {
//       border-left: none;
//     }
//   }
//   #wsite-search-sidebar {
//     h3 {
//       color: $brand_gray_dark;
//     }
//   }
//   a {
//     color: $brand_gray_dark;
//     text-decoration: none;
//     transition: color 0.4s ease;
//     &:hover {
//       color: $brand_primary;
//       text-decoration: none;
//     }
//   }
//   #wsite-search-list {
//     p {
//       color: $brand_gray_dark;
//     }
//     h3 {
//       border-bottom: 0;
//       color: $brand_gray_dark;
//       font-size: 3rem;
//       font-family: $font_stack;
//       font-weight: 300;
//       line-height: 1.2em;
//       overflow: hidden;
//       padding: 0 5px 0 0;
//       margin: 0;
//       text-decoration: none;
//       transition: color 0.4s ease;
//       white-space: initial;
//       &:hover {
//         color: $brand_primary;
//         text-decoration: none;
//       }
//     }
//   }
// }
