#icontent {
  z-index: 0;
  position: static;
  .site-controls {
    z-index: 0;
  }

  #notes {
    display: initial;
  }

  #header {
    // Ensure header is displayed when drafting blog posts
    display: initial !important;
  }

  #nav {
    .weebly-logo-area {
      // Make logo display correctly in editor.
      display: inline-block;
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 3;
      .wsite-logo {
        position: static;
      }
    }
  }

  ul.weebly-content-area {
    padding-top: 3rem !important;
  }
  #blogTable {
    &.editing {
      // Ensure the blog post writing area is in the middle of the screen
      max-width: 900px;
      margin: auto;
      .blog-post-separator {
        display: none;
      }
    }
    .blog-header {
      display: initial;
      &:before {
        // Do not show ::before overlay on header while editing
        content: none;
      }
      & > .blog-title,
      & > .blog-date,
      & > .blog-comments {
        display: block;
      }
      .blog-title a {
        color: $brand_gray_dark !important;
      }
    }
    .blog-content div:first-of-type {
      padding-top: 0;
    }
    .blog-social-item {
      // Weird weebly thing in editor causes spacing issue,
      // so we hide them in the editor.
      display: none;
    }
  }

  .bg-img-wrap {
    &:before {
      content: "← Edit background image";
      height: auto;
      width: auto;
      font-size: 1.5em;
      padding: 0.5em;
      font-family: $font_stack;
      color: #fff;
    }
  }
  #post-footer .wsite-text {
      display: block;
  }
  .blogonizer__content {
    display: none;
  }
}

#notes {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 40px;
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: rgba(lightgoldenrodyellow, 0.75);
    height: 100%;
  }
  .paragraph {
    font-size: 18px;
    color: gray;
  }
}
