#pre-footer {
  padding: $vertical_margin 0;
  position: relative;
  min-height: 120px;
  // Use if pre-footer has color background
  // h2, .paragraph {
  //   color: #fff;
  // }
  .wsite-multicol-col {
    vertical-align: middle;
  }
}

#footer {
  background: $brand_gray_dark;
  padding: $vertical_margin 0;
  .wsite-content-title, .paragraph {
    color: white !important;
  }
}

#post-footer {
  background: darken($brand_gray_dark, 15%);
  padding: 15px 0;

  .container {
    max-width: unset !important;
  }

  .wsite-content-title, .paragraph {
    color: white !important;
  }

  .wsite-multicol-col {
    vertical-align: middle;
  }
  .paragraph{
    font-size: 1rem !important;
  }
  :last-child {
    margin-bottom: 0;
  }
}
