#header {
  position: relative;
  .banner {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .container {
      max-width: 800px;
    }
  }
  .wsite-content-title { font-size: $font_size_headline !important; }
  .paragraph { font-size: $font_size_subheadline !important; }
}

// The below commented code is, of course, required to display pseudo-elements
// which are what power the overlays we're using here.
// To keep it DRY, the below code is included only once in _content.scss
// rather than in both_header.scss and _sections.scss
// which both use pseudo-element overlays.

// &.wsite-custom-background,
// &.wsite-section-bg-image,
// &.wsite-section-bg-video {
//   &:after {
//     content: "";
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//   }
// }

.header--full {
  #header {
    min-height: 100vh;
    .wsite-elements, .wsite-section-wrap {
      min-height: 100vh;
      .wsite-section {
        min-height: 100vh !important;
        // Support for Firefox
        height: 100vh !important;
          @include device(smartphone) {
            padding-top: 100px;
          }
        }
      }
    }
  }


body.header, body.header--full {
    &.header--gray-overlay-on {
    #header {
      // Use with overlay
      h1, h2, .paragraph {
        color: #fff;
      }
      .wsite-section {
        // Let's keep the text on top of the overlay.
        .container {
          z-index: 3;
        }
        // Sections with image BG,
        // sections with video BG and
        // sections with either in the Editor.
        &.wsite-section-bg-image,
        &.wsite-section-bg-video,
        &.wsite-custom-background {
          &:after {
            content: "";
            background: rgba($brand_gray_dark, 0.75);
          }
        }
      }
    }
  }

  &.header--no-overlay-on {
    #header {
      .wsite-section {
        // Sections with image BG,
        // sections with video BG and
        // sections with either in the Editor.
        &.wsite-section-bg-image,
        &.wsite-section-bg-video,
        &.wsite-custom-background {
          &:after {
            content: none;
          }
        }
      }
    }
  }

  &.header--primary-overlay-on {
    #header {
      // Use with overlay
      h1, h2, .paragraph {
        color: #fff;
      }
      .wsite-section {
        // Let's keep the text on top of the overlay.
        .container {
          z-index: 3;
        }
        // Sections with image BG,
        // sections with video BG and
        // sections with either in the Editor.
        &.wsite-section-bg-image,
        &.wsite-section-bg-video,
        &.wsite-custom-background {
          &:after {
            content: "";
            background: rgba($brand_primary, 0.75);
          }
        }
      }
    }
  }
}
