// // *********************************************** \\
// // There are two nav styles in this template:
// // "nav" and "nav-fullscreen"
// //
// // This code is for "nav-fullscreen".
// //
// // When switching to this nav style, remember to:
// // * change the partial links in the HTML
// // * comment in/out the appropriate SCSS and Javascript
// // * change which nav is loaded in main.js
// // *********************************************** \\
//
// #nav {
//   .container {
//     max-width: none;
//     .wsite-logo {
//       position: absolute;
//       top: 30px;
//       left: 30px;
//       z-index: 1;
//       @include device(smartphone, tablet){top: 25px; left: 20px;};
//       img {
//         @include device(smartphone){height: 30px};
//         @include device(tablet){height: 50px};
//         @include device(laptop){height: 60px};
//         @include device(desktop){height: 70px};
//       }
//     }
//     .hamburger {
//       position: absolute;
//       top: 30px;
//       right: 30px;
//       transition: all 0.4s ease;
//       z-index: 10;
//       @include device(smartphone){top: 10px; right: 10px;};
//       @include device(tablet){top: 20px; right: 20px;};
//     }
//   }
// }
//
// // ** Nav Fullscreen ** \\
// .nav-outer-wrap {
//   // This is styling for the native weebly menu
//   display: flex;
//   justify-content: center;
//   text-align: center;
//
//   background-color: rgba($brand_primary, .95);
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;
//   transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
//   visibility: hidden;
//   opacity: 0;
//   z-index: 10;
//   .nav-inner-wrap {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//
//     // These styles mimic the .container class styles to keep the
//     // nav margin the same as the site-wide margin
//     position: relative;
//     margin: auto;
//     padding: 0 50px;
//     width: 100%;
//     @include device(desktop) {max-width: 1024px;}
//     @include device(desktop) {max-width: 1140px;}
//
//     ul.wsite-menu-default {
//       flex-direction: row;
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: flex-start;
//       width: 100%;
//       overflow-y: auto;
//       // For mobile safari
//       @include device(smartphone, tablet) {
//         -webkit-overflow-scrolling: touch;
//       }
//       li.wsite-menu-item-wrap {
//         // Styles for the specific menu items
//         width: 100%;
//         padding-left: 0;
//         margin-bottom: 0;
//         font-size: $font_size_title;
//         // for mobile safari
//         @include device(smartphone, tablet) {
//           position: relative;
//           -webkit-transform: translate3d(0,0,0);
//         }
//         a {
//           color: #fff;
//           display: block;
//           &:hover {
//             color: $brand_secondary;
//           }
//           // Here you can add an icon before a menu item.
//           // &:before {
//           //   font-family: $icon_font_family;
//           //   content: "Icon";
//           //   display: inline-block;
//           //   width: 1.3em;
//           // }
//         }
//         &#active {
//           // Here you can add styles for the current page in the menu.
//           // a {
//           //   color: lighten($brand_secondary, 30%);
//           // }
//         }
//       }
//     }
//   }
// }
//
// body.nav-open {
//   position: fixed;
//   top: 0; right: 0; bottom: 0; left: 0;
//   height: 100%;
//   max-height: 100%;
//   .nav-outer-wrap {
//     visibility: visible !important;
//     opacity: 1 !important;
//   }
//   .hamburger-inner {
//     &,
//     &::before,
//     &::after {
//       background-color: $brand_secondary;
//     }
//   }
// }
//
// .no-header {
//   .hamburger-inner {
//     &,
//     &::before,
//     &::after {
//       background-color: $brand_gray_dark;
//     }
//   }
// }
//
// .uploadplayer-shield {
//   z-index: 0;
// }
