// *********************************************** \\
// There are two nav styles in this template:
// "nav" and "nav-fullscreen"
//
// This code is for "nav".
//
// When switching to this nav style, remember to:
// * change the partial links in the HTML
// * comment in/out the appropriate SCSS and Javascript
// * change which nav is loaded in main.js
// *********************************************** \\
body.no-header {
  #nav .wsite-menu-default {
    li {
      a {
        color: $brand_gray_dark;
      }
    }
  }
}

body.header, body.header--full {
  #nav {
    .wsite-logo {
      img {
        filter: brightness(100);
      }
    }
  }
}

#nav {
  padding: 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    max-width: none;
    padding: $general_margin;
    position: absolute;
    top: 0; left: 0;
    z-index: 3;
    @include device(laptop, desktop) {
      .mobile-controls {
        display: none;
      }
    }
  }
  .wsite-menu-default {
    @include device(laptop, desktop) {
      display: inline-flex;
      justify-content: flex-end;
      width: 60vw;
    }
    li {
      padding: 0;
      margin: 0;
      margin-right: 5px;
      a {
        display: inline-block;
        transition: all 0.4s ease;
        padding: 8px 32px;
        font-size: 18px;
        color: white;
        white-space: nowrap;
        &:hover {
          border-bottom: 2px solid white;
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
      &.extraDropdown {
        a {
          border-bottom: none !important;
        }
        .dropdown {
          height: 0;
          overflow: hidden;
          transition: height 0.5s ease;
          li { margin-right: 0 !important; }
        }
        &.active {
          .dropdown {
            height: auto;
            li {
              background: white;
              margin-top: 2px;
              margin-bottom: 2px;
              transition: background 0.4s ease;
                &:hover {
                  background: rgba(white, 0.9);
                }
              a {
                color: $brand_gray_dark;
              }
            }
          }
        }
      }
    }
  }

  @include device(smartphone){
    .wsite-logo img {
      max-height: 80px;
    }
  }

  @include device(smartphone, tablet){
    padding: 0;
    &.active{
      .mobile-controls {
        .fa {
          color: $hamburger_color !important;
        }
        .mobile-open {opacity: 0 !important;}
        .mobile-close {opacity: 1 !important;}
      }
      .wsite-menu-default {
        display: block !important;
        li {
          a {
            color: $brand_gray_dark;
            padding-top: 8px !important;
            padding-bottom: 8px !important;
            max-height: 65px !important;
          }
        }
      }
    }
    .container {
      flex-direction: column;
      padding: 0;
      .mobile-header {
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mobile-controls {
          position: relative;
          height: 45px;
          width: 45px;
          background: none;
          border: none;
          outline: none;
          right: -6px;
          .fa {
            color: $hamburger_color;
            transition: opacity 0.4s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2em;
            &.mobile-open {
              opacity: 1;
            }
            &.mobile-close {
              opacity: 0;
            }
          }
        }
      }

      .wsite-menu-default {
        display: block;
        li {
          padding: 0;
          margin: 0;
          background: #fff;
          a {
            display: block;
            height: auto;
            overflow: hidden;
            transition: all 0.4s ease;
            max-height: 0;
            border: none;
            padding-top: 0;
            padding-bottom: 0;
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

body.no-header {
  #nav {
    @include device(smartphone, tablet) {
      .mobile-controls {
        .fa {
          color: $brand_gray_dark !important;
        }
      }
    }
  }
}
