.sections-page {
  #main {
    padding: 0 !important;
  }
}

// The below commented code is, of course, required to display pseudo-elements
// which are what power the overlays we're using here.
// To keep it DRY, the below code is included only once in _content.scss
// rather than in both_header.scss and _sections.scss
// which both use pseudo-element overlays.

// &.wsite-custom-background,
// &.wsite-section-bg-image,
// &.wsite-section-bg-video {
//   &:after {
//     content: "";
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//   }
// }

.sections--gray-overlay {
  #main {
    // Use with overlay
    h1, h2, .paragraph {
      color: #fff;
    }
    .wsite-section {
      // Let's keep the text on top of the overlay.
      .container {
        z-index: 3;
      }
      // Sections with image BG
      &.wsite-custom-background,
      &.wsite-section-bg-image,
      &.wsite-section-bg-video {
        &:after {
          content: "";
          background: rgba($brand_gray_dark, 0.75);
        }
      }
    }
  }
}

.sections--no-overlay {
  #main {
    .wsite-section {
      // Sections with image BG
      &.wsite-custom-background,
      &.wsite-section-bg-image,
      &.wsite-section-bg-video {
        &:after {
          background: none;
        }
      }
    }
  }
}

.sections--primary-overlay {
  #main {
    // Use with overlay
    h1, h2, .paragraph {
      color: #fff;
    }
    .wsite-section {
      // Let's keep the text on top of the overlay.
      .container {
        z-index: 3;
      }
      // Sections with image BG
      &.wsite-custom-background,
      &.wsite-section-bg-image,
      &.wsite-section-bg-video {
        &:after {
          content: "";
          background: rgba($brand_primary, 0.75);
        }
      }
    }
  }
}
