<!-- *********************************************** \\
// There are two nav styles in this template:
// "nav" and "nav-fullscreen"
//
// This code is for "nav-fullscreen".
//
// When switching to this nav style, remember to:
// * change the partial links in the HTML
// * comment in/out the appropriate SCSS and Javascript
// * change which nav is loaded in main.js
// *********************************************** -->

<nav id="nav">
  <div class="container">
    {logo}

    <div class="nav-outer-wrap">
      <div class="nav-inner-wrap">

        {menu}

      </div>
    </div>

    <div class="site-menu">
      <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

  </div>
</nav>
