<!-- *********************************************** \\
// There are two nav styles in this template:
// "nav" and "nav-fullscreen"
//
// This code is for "nav".
//
// When switching to this nav style, remember to:
// * change the partial links in the HTML
// * comment in/out the appropriate SCSS and Javascript
// * change which nav is loaded in main.js
// *********************************************** -->

<nav id="nav">
  <div class="container">
    <div class="mobile-header">
      {logo}

      <button class="mobile-controls">
        <i class="fa fa-bars mobile-open"></i>
        <i class="fa fa-times mobile-close"></i>
      </button>
    </div>

    {menu}
  </div>
</nav>
