<script src="https://kit.fontawesome.com/c284b7bb00.js"></script>
<!-- Remove the line above this and add the Fort Awesome script
     to load a custom icon kit. Example of that below.
<script src="https://use.fonticons.com/********.js"></script> -->
<script src="/files/theme/scripts.min.js"></script>
