.rss-container {
  width: 100%;
  padding: 60px 0;
}

[class^="rss-box"] {
  border: none !important;
  background: none !important;
  width: 100% !important;
  @include device(smartphone, tablet) {
    width: 80% !important;
  }

  .rss-title {
    display: none;
  }

  .rss-items {
    margin-bottom: 0 !important;
    display: flex;
    border: none;
    @include device(smartphone, tablet) {flex-direction: column}

    li.rss-item {
      background: transparent !important;
      border: none;
      flex: 1;
      color: #fff;
      margin-right: 3rem !important;
      font-size: 1rem;
      line-height: 1.5;
      min-height: 300px;
      padding: 0 !important;
      position: relative;
      @include device(laptop, desktop) {margin-bottom: 0;}
      @include device(smartphone, tablet) {margin-right: 0 !important;margin-bottom: 1rem;}

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: "";
        background: rgba($brand_gray_dark, 0.65);
        z-index: 0;
        transition: all 0.4s ease;
      }

      &:last-of-type {
        margin-right: 0 !important;
      }

      &:hover:before {
        background: rgba($brand_secondary, 0.85);
      }

      a {
        background: transparent !important;
        color: #fff !important;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 300;
        display: block;
        margin-bottom: 1rem;
        position: relative;
        font-family: "Open Sans";
        display: block;
        height: 100%;
        padding: 2.5rem !important;
        margin: 0;

        .post-category {
          display: block;
          font-size: 1.25rem;
          margin-bottom: 1.5rem;
        }
        .post-title {
          display: block;
          font-size: 2rem;
        }
        .post-date {
          font-size: 1.25rem;
        }
      }

      br {
        display: none;
      }
    }
  }
}
