$blogonizer-bg: $brand_primary;
$blogonizer-inactive-bg: lighten($brand_primary, 2%);
$blogonizer-button-border: lighten($brand_primary, 3%);
$blogonizer-color: #fff;

//Icons
$blogonizer-icon-kit: $icon_font_family;
$blogonizer-open: $icon_plus;
$blogonizer-search: $icon_search;

.blogonizer {
  background: $blogonizer-bg;
  .blog-category-title, .blog-archives-title, a, button, p {
    color: $blogonizer-color;
  }
  @include device(smartphone, tablet) {
    .blog-category-title,
    .blog-archives-title {
      font-size: 3em;
    }
  }

  .blogonizer__content {
    width: 100%;
    background: $blogonizer-bg;
    transition: all 0.4s ease;
    padding: 0;
    box-sizing: content-box;
    max-height: 0px;
    height: 0px;
    overflow: hidden;
    @include device(smartphone) {
      padding-left: 20px;
      padding-right: 20px;
      width: calc(100% - 40px);
    }
    @include device(tablet) {
      padding-left: 50px;
      padding-right: 50px;
      width: calc(100% - 100px);
    }
    .blog-archives-title, .blog-category-title {
      margin-bottom: 0.5em;
    }
  }

  .blogonizer__categories, .blogonizer__archives, .blogonizer__search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 50px;
    @include device(smartphone, tablet) {
      padding: 0px;
    }
    transition: all 0.4s ease;
    opacity: 0;
    .wsite-elements {
      margin: auto;
    }
    &.visible {
      opacity: 1;
      z-index: 1;
      .wsite-elements {
        position: relative;
      }
    }
  }

  .blogonizer__categories .blog-category-list,
  .blogonizer__archives .blog-archive-list {
    display: flex;
    flex-wrap: wrap;
    font-size: $font_size_paragraph;
    a {
      width: 25%;
      @include device(smartphone) {
        width: 50%;
      }
      margin-bottom: 0.5em;
      display: inline-block;
      line-height: 1;
    }
  }

  .blogonizer__search {
    .wsite-search-element {
      flex: 1;
      width: 100%;
      max-width: none;
      #wsite-header-search-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .wsite-search-element-input {
        width: 94%;
        @include device(smartphone, tablet){width: 100%;}
        border: none;
        background: transparent;
        height: auto;
        font-size: $font_size_title !important;
        border-bottom: 2px solid $blogonizer-color !important;
        color: $blogonizer-color;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $blogonizer-color;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $blogonizer-color;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $blogonizer-color;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $blogonizer-color;
        }
      }
      .wsite-search-element-submit {
        background: none !important;
        border: none !important;
        position: absolute;
        transform: none;
        height: auto;
        @include device(smartphone, tablet) {
          display: none !important;
        }
        &:before {
          font-family: $blogonizer-icon-kit;
          content: $blogonizer-search;
          position: absolute;
          transform: translate(-50%, -50%);
          color: $blogonizer-color;
          font-size: $font_size_title;
        }
        &:after {
          display: none;
        }
      }
    }
  }
}

.blogonizer__controls {
  @include device(laptop, desktop) {
    background: $blogonizer-button-border;
  }
  .container {
    display: flex;
    align-items: stretch;
    padding: 0 !important;
    max-width: none;
    @include device(smartphone, tablet) {
      flex-direction: column-reverse;
    }
  }
  .button-wrap {
    flex: 1;
    position: relative;
    display: flex;
    @include device(smartphone, tablet) {
      width: 100%;
      flex-direction: column;
    }
    button {
      background: $blogonizer-inactive-bg;
      border: 1px solid $blogonizer-button-border;
      width: 50%;
      font-size: 18px;
      padding: 16px 32px;
      color: $blogonizer-color;
      position: relative;
      text-align: left;
      @include device(smartphone) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
      @include device(tablet) {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
      }
      &:before {
        font-family: $blogonizer-icon-kit;
        content: $blogonizer-open;
        margin-right: 0.5em;
        @include device(smartphone){margin-right: 0;}
        font-size: 1em;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        right: 32px;
        transform: translateY(-50%);
        transition: all 0.4s ease;
        opacity: 1;
        @include device(smartphone, tablet){
            right: 25px;
        }
      }
      &.selected {
        border: 1px solid $blogonizer-bg;
        border-bottom: 1px solid $blogonizer-bg;
        background: $blogonizer-bg;
        color: $blogonizer-color;
        &:before {
          transform: translateY(-50%) rotate(-225deg) !important;
          opacity: 1;
        }
      }
      &:active, &:focus {
        outline: none;
      }
      @include device(laptop, desktop){
        &:not(.selected) + button:not(.selected) {
          border-left: none;
        }
      }
    }
  }
}
#icontent .blogonizer .visible {
  // Hide the blog widget in the Weebly editor.
  opacity: 0;
}
