// Option to add a certain icon after an external link.

// a[href^="http"] {
//   &:after {
//     font-family: $icon_font_family;
//     content: $icon_external_link;
//     padding-left: 10px;
//   }
// }
