// Option to make lists bulleted with particular icon.
#content {
  div.paragraph {
    ul {
      padding-left: 1em !important;
      list-style: none !important;
      li {
        list-style: none !important;
        line-height: 1.3em;
        @include device(smartphone) {line-height: 2.5rem;}
        &:before {
          font-family: $icon_font_family;
          content: $icon_angle_right;
          display: inline-block;
          margin-left: -1.5em;
          width: 1.5em;
        }
      }
    }
    ol {
      padding-left: 1em !important;
      list-style: none !important;
      li {
        list-style: none !important;
        line-height: 1.3em;
        @include device(smartphone) {line-height: 2.5rem;}
        &:before {
          font-family: $icon_font_family;
          content: $icon_check;
          display: inline-block;
          margin-left: -1.5em;
          width: 1.5em;
        }
      }
    }
  }
}

//Keep lists on the blog standard
.wsite-page-blog {
  #content {
    div.paragraph {
      ul {
        margin-top: 1.5em !important;
        margin-bottom: 1.5em !important;
        padding-left: 1.5em !important;
        font-size: inherit !important;
        color: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
        list-style: disc outside !important;

        li {
          display: list-item;
          list-style: disc outside !important;

          &:before {
             display: none !important;
          }
        }
      }
      ol {
        margin-top: 1.5em !important;
        margin-bottom: 1.5em !important;
        padding-left: 1.5em !important;
        font-size: inherit !important;
        color: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
        list-style: decimal outside !important;

        li {
          display: list-item;
          list-style: decimal outside !important;

          &:before {
             display: none !important;
          }
        }
      }
    }
  }
}
