.wsite-social {
  .wsite-social-item {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  @include device(laptop) {width: 450px;}
  @include device(desktop) {width: 650px ;}
  @include device(smartphone, tablet) {width: auto !important;}
  & > a {
    background: transparent !important; // delete to add back color backgrounds
    align-items: center;
    color: #fff !important;
    display: flex;
    justify-content: center;
    padding: 0;
    transition: background-color 0.4s ease;
    width: 45px; height: 45px;
    margin: 10px;
    font-size: 1.5rem !important;
    @include device(smartphone) {font-size: 1.5rem;}
    @include device(tablet) {font-size: 2rem;}
    @include device(laptop) {font-size: 2.5rem;}
    @include device(desktop) {font-size: 3rem;}
  }
  // The social media area is editable in the Editor,
  // allowing the client to add or remove social media icons.
  // We have allowed room for up to six at a time. Below are the
  // color options for all social icons available in the Editor.
  .wsite-social-facebook {
    background-color: darken($facebook, 10%);
      &:hover {background-color: $facebook;}
  }
  .wsite-social-twitter {
    background-color: darken($twitter, 10%);
      &:hover {background-color: $twitter;}
  }
  .wsite-social-linkedin {
    background-color: darken($linkedin, 10%);
      &:hover {background-color: $linkedin;}
  }
  .wsite-social-plus {
    background-color: darken($googleplus, 10%);
      &:hover {background-color: $googleplus;}
  }
  .wsite-social-youtube {
    background-color: darken($youtube, 10%);
      &:hover {background-color: $youtube;}
  }
  .wsite-social-instagram {
    background-color: darken($instagram, 10%);
      &:hover {background-color: $instagram;}
  }
  .wsite-social-flickr {
    background-color: darken($flickr, 10%);
      &:hover {background-color: $flickr;}
  }
  .wsite-social-pinterest {
    background-color: darken($pinterest, 10%);
      &:hover {background-color: $pinterest;}
  }
  .wsite-social-vimeo {
    background-color: darken($vimeo, 10%);
      &:hover {background-color: $vimeo;}
  }
  .wsite-social-yahoo {
    background-color: darken($yahoo, 10%);
      &:hover {background-color: $yahoo;}
  }
  .wsite-social-dribbble {
    background-color: darken($dribbble, 10%);
      &:hover {background-color: $dribbble;}
  }
  .wsite-social-rss {
    background-color: darken($rss, 10%);
      &:hover {background-color: $rss;}
  }
  .wsite-social-mail {
    background-color: darken($mail, 10%);
      &:hover {background-color: $mail;}
  }
} // End .wsite-social styles
