<!DOCTYPE html>
<html>
<head>
  <%include src="partials/meta.html"%>
</head>

<body class="wsite-page-blog wsite-theme-light">

  <%include src="partials/gtm-body.html"%>

  <div id="content" class="content-wrapper wsite-page-blog">

    <%include src="partials/header.html"%>

    <%include src="snippets/blogonizer.html"%>

    <main>
      <div id="main">
        <div class="container">{content}</div>
      </div>

    </main>

    <%include src="partials/footer.html"%>

  </div>

  <%include src="partials/scripts.html"%>

</body>
</html>
