<!-- NOTE: This page is not a landing page but is a search page.
            It is what is used to display site-wide search results. -->

<!DOCTYPE html>
<html>
<head>
  <%include src="partials/meta.html"%>
</head>
<body class="landing-page no-header wsite-theme-light">

  <%include src="partials/gtm-body.html"%>

  <div id="content" class="landing-page">

    <%include src="partials/nav.html"%>

    <div id="notes">
      <div class="container">
        <div class="paragraph">
          This layout, 'Landing Page', is the search page.
          It is what is used to display site-wide search results.
        </div>
      </div>
    </div>

    <%include src="partials/main.html"%>

    <%include src="partials/footer.html"%>

  </div>

  <%include src="partials/scripts.html"%>

</body>
</html>
