<!DOCTYPE html>
<html>
<head>
  <%include src="partials/meta.html"%>
</head>
<body class="wsite-theme-light no-header">

  <%include src="partials/gtm-body.html"%>

  <%include src="partials/nav.html"%>
  <!-- Remove 'sections--no-overlay' and Add 'sections--gray-overlay' or 'sections--primary-overlay' to add color overlays -->
  <div id="content" class="content-wrapper sections-page sections--no-overlay">

    <%include src="partials/sections.html"%>

    <%include src="partials/footer.html"%>

  </div>

  <%include src="partials/scripts.html"%>

</body>
</html>
