<!-- This goes somewhere in your blog HTML template -->
<div class="blogonizer">
  <div class="blogonizer__controls">
    <div class="container">
      <div class="button-wrap">
        <button data-blogonizer="categories" class="categories">Categories</button>
        <button data-blogonizer="archives" class="archives">Archive</button>
        <button data-blogonizer="search" class="search">Search</button>
      </div>
    </div>
  </div>
  <div class="blogonizer__content">
    <div class="container">
      <div class="blogonizer__categories">{blog-categories:content global="false"}</div>
      <div class="blogonizer__archives">{blog-archives:content global="false"}</div>
      <div class="blogonizer__search">{search-bar:content global="false"}</div>
    </div>
  </div>
</div>
